# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/frontend/node
/frontend/node/*
/frontend/frontend/node_modules/*
/frontend/frontend/node_modules/
/frontend/target
/frontend/target/*
# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
backend/.idea/
backend/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
frontend/.vscode/
frontend/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
